.version.about /* version checker */
{
	color: #0000E5;
	background-color: #F703C6;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 671px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 35px;
	padding-bottom: 43px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu588
{
	margin-right: -10000px;
	margin-top: 62px;
	width: 96.15%;
}

#u588
{
	z-index: 4;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 52.55%;
}

#u588_img
{
	padding-top: 5px;
	padding-right: 70px;
	padding-bottom: 62px;
	width: 85.57%;
}

#u591
{
	z-index: 6;
	background-color: #FCFFC2;
	position: relative;
	margin-right: -10000px;
	width: 57.97%;
	left: 42.04%;
}

#u591_position_content
{
	margin-bottom: -10px;
	padding-top: 9px;
	width: 100%;
}

#u590-4
{
	z-index: 7;
	min-height: 51px;
	background-color: transparent;
	text-indent: -1px;
	font-size: 36px;
	text-align: center;
	line-height: 36px;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
	width: 28.98%;
	margin-left: 2.62%;
}

#u590-2
{
	padding-left: 2px;
	padding-bottom: 5px;
}

#u592-12
{
	z-index: 11;
	min-height: 383px;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
	width: 98.88%;
	margin-left: 1.13%;
}

#u573
{
	z-index: 2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 91.05%;
	left: 5.73%;
}

#u573_img
{
	width: 100%;
}

.html
{
	background: #FFFEE6 url("../images/bg.jpg") repeat left top scroll;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 116px;
}

