.version.index /* version checker */
{
	color: #0000F3;
	background-color: #D50682;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 671px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 35px;
	padding-bottom: 43px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu288
{
	padding-bottom: 129px;
	margin-right: -10000px;
	margin-top: -20px;
	width: 96.15%;
}

#u288
{
	z-index: 4;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	width: 52.55%;
}

#u288_img
{
	padding-top: 5px;
	padding-right: 70px;
	padding-bottom: 62px;
	width: 85.57%;
}

#u298
{
	z-index: 6;
	background-color: #FCFFC2;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	width: 57.97%;
	left: 42.04%;
}

#u298_position_content
{
	margin-bottom: -10px;
	padding-top: 9px;
	width: 100%;
}

#u301-4
{
	z-index: 7;
	min-height: 51px;
	background-color: transparent;
	text-indent: -1px;
	font-size: 36px;
	text-align: center;
	line-height: 36px;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
	width: 28.98%;
	margin-left: 2.62%;
}

#u301-2
{
	padding-left: 2px;
	padding-bottom: 5px;
}

#u305-12
{
	z-index: 11;
	min-height: 383px;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
	width: 98.88%;
	margin-left: 1.13%;
}

#pamphletu415
{
	z-index: 23;
	width: 0.01px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	left: 21.46%;
}

#u416
{
	z-index: 24;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u417
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.ie #u417
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u417:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u417:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u417:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u417:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u426
{
	position: absolute;
	width: 665px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	top: 35px;
	left: -20px;
}

#u426popup
{
	z-index: 26;
}

#u427
{
	z-index: 27;
	width: 621px;
	height: 605px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u470
{
	z-index: 28;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 61.84%;
	left: 23.84%;
}

#u470_img
{
	padding-left: 22px;
	padding-top: 2px;
	padding-bottom: 9px;
	width: 94.28%;
}

#u420
{
	position: absolute;
	width: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 37px;
	left: 538px;
}

#u420:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u420:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u421-4
{
	z-index: 31;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 66.67%;
	left: 16.67%;
}

#menuu510
{
	z-index: 35;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	width: 18.1%;
	left: 1.2%;
}

#u518
{
	min-height: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 49.11%;
}

#u519
{
	height: 69px;
	background-color: #C4C4C4;
	position: relative;
	width: 100%;
}

#u519.MuseMenuActive
{
	height: 69px;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #999999 url("../images/about_us_over.gif") no-repeat left top;
}

#u644
{
	min-height: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 49.71%;
	left: 50.3%;
}

#u645
{
	height: 69px;
	background-color: #C4C4C4;
	position: relative;
	width: 100%;
}

#u645:hover
{
	background-image: none;
	background-color: #999999;
	height: 69px;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u645:active
{
	background-image: none;
	background-color: #6B6B6B;
	height: 69px;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

#u278
{
	z-index: 2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 91.05%;
	left: 5.73%;
}

#u278_img
{
	width: 100%;
}

.html
{
	background: #FFFEE6 url("../images/bg.jpg") repeat left top scroll;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 1px;
}

